@using Modas.Models
@using Modas.Models.ViewModels
@model EventListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Hello</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d0ae30e557.js" crossorigin="anonymous"></script>
</head>
<body>
    World!
    <div class="container">
        <table class="table table-sm table-striped table-shadow">
            <thead class="bg-success text-white">
                <tr><th>Date</th><th>Time</th><th>Location</th></tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Events)
                {
                    <tr>
                        <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
                        <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
                        <td>@e.Location.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row mb-3">
            <div class="col">
                <button disabled id="first" class="btn btn-outline-secondary" type="button" data-page="1"><i class="fas fa-angle-double-left"></i><span class="d-none d-md-inline"> First</span></button>
                <button disabled id="prev" class="btn btn-outline-secondary" type="button" data-page="@(Model.PagingInfo.PreviousPage)"><i class="fas fa-angle-left"></i><span class="d-none d-md-inline"> Prev</span></button>
            </div>
            <div class="col text-center text-secondary">
                <span id="start">@(Model.PagingInfo.RangeStart)</span>-<span id="end">@(Model.PagingInfo.RangeEnd)</span>
                of
                <span id="total">@(Model.PagingInfo.TotalItems)</span>
            </div>
            <div class="col text-right">
                <button disabled id="next" class="btn btn-outline-secondary" type="button" data-page="@(Model.PagingInfo.NextPage)"><span class="d-none d-md-inline">Next </span><i class="fas fa-angle-right"></i></button>
                <button disabled id="last" class="btn btn-outline-secondary" data-page="@(Model.PagingInfo.TotalPages)"><span class="d-none d-md-inline">Last </span><i class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            initButtons();

            $('#next, #prev, #first, #last').on('click', function () {
                location.href = "page" + $(this).data('page');
            });
            function initButtons() {

                $('#first, #prev').prop('disabled', $('#start').html() == "1");

                $('#last, #next').prop('disabled', $('#end').html() == $('#total').html());
            }
        });
    </script>

</body>
</html>